// imports
@import 'materialdesignicons.css';

* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-size:14px;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}

iframe {
  border: 0;
}