
@mineColor: #eee;
@msgColor: #6CE86E;

.chat-area {
  padding: 20px;
  overflow: auto;
  list-style: none;

  li.entry {
    margin: 6px 0;
    color: #424242;

    & > div {
      display: inline-block;
      padding:3px 4px;

      &.info {
        background: orange;
        color: white;
      }

      &.message-container {
        .from {
          display: inline-block;
          background: @msgColor;
          color: darken(@msgColor, 35%);
          padding:3px 4px;
          margin-left: -4px;
          margin-bottom: 4px;
          font-size:0.8em;
        }

        .timestamp {
          font-size:0.8em;
          color: #aaa;
          margin-left: 2px;
        }

        .message {
          line-height: 1.5em;
        }

        &.mine {
          .from {
            background: @mineColor;
            color: darken(@mineColor, 35%)
          }
        }

      }

    }
  }

}