
@mineColor: #eee;
@msgColor: #6CE86E;

.chat-area {
  padding: 0 20px;
  overflow: auto;
  list-style: none;

  li.entry {
    margin: 12px 0;
    color: #424242;

    & > div {
      display: inline-block;
      background: rgba(255,255,255,1);

      &.info-container {
        .info {
          background: orange;
          color: white;
          padding:0px 4px;
          font-size:0.95em;
          line-height: 21px;
        }
      }

      &.message-container {
        .from {
          display: inline-block;
          background: @msgColor;
          color: darken(@msgColor, 35%);
          padding:0px 4px;
          font-size:0.95em;
          line-height: 21px;
        }

        .timestamp {
          font-size:0.8em;
          color: #bbb;
          margin-left: 2px;
        }

        .message {
          line-height: 1.5em;
          margin-left: 4px;
        }

        &.mine {
          .from {
            background: @mineColor;
            color: darken(@mineColor, 35%)
          }
        }

      }

    }
  }
}

.rich-message-container {
  .embed {
    padding-left:10px;
    border-left:5px solid #eee;
    margin: 10px 0;
  }

  .embed-title {
    font-size:1.2em;
    color: #aaa;
  }

  .image-embed {
    max-width:75%;
    max-height: 450px;
  }

  .video-embed {
    border: 1px solid #eee;
  }

}