.room-roster {
  position: absolute;
  top: 20px;
  right: 20px;
  //min-width:200px;

  .room-number-participants {
    background: #f4f4f4;
    padding:4px 6px;

    i {
      font-size: 1.4em;
      margin-right: 6px;
    }

    span {
      line-height: 1.3em;
      vertical-align: top;
    }
  }

  ul {
    padding: 0 20px;
    color: #eee;
  }
}